<% include header %>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row section-2-image ">
            <div class="col-md-11 col-sm-12 col-xs-12 ">
                <div class="banner-texts-1">
                    <div class="col-md-offset-1 col-md-12 col-sm-12 col-xs-12 finalColumn">
                        <div class=" col-md-12 col-sm-12 col-xs-12 animatedParent">
                            <span><p class="heading-1 mainheaderfontbig animated bounceInLeft" style="margin-top: 135px; font-weight: 600;color: rgb(255, 255, 255);text-shadow: 1px 1px rgba(59, 59, 59, 0.7);font-size: 38px !important;">Want to schedule an appointment?<br> Have a question? <br>We'd love to hear from you!</p></span>
                        </div>
                        <div style="font-size:22px!important;" class=" col-md-offset-2 col-md-8 col-sm-12 col-xs-12  ">
<!-- <p class="paragraph-white">
Lorem Ipsum is simply dummy text of the printing and typesetting industry.
</p>
-->
</div>
</div>
</div>
</div>
</div>
<!--  contact us -->
<div class="col-md-10 col-md-offset-1">
    <div class="col-md-12 contact-div">
        <!-- <h1 class="center contact-head">Contact Us</h1> -->
        <div class="col-md-6">
            <div class="alert alert-success" id="success-alert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Success! </strong>
                Your Request has been recorded!
            </div>
            <div class="alert alert-danger" id="failure-alert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Success! </strong>
                Your Request has been recorded!
            </div>
            <form id="contactForm" action="action_page">
                <div class="form-group">
                    <input type="text" id="name" name="name" class="contact-input" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="email" id="contactEmail" name="contactEmail" class="contact-input" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="text" id="phoneNo" name="name" class="contact-input" placeholder="Phone No" required>
                </div>
                <div class="form-group">
                    <textarea id="message" class="contact-input contact-textarea" placeholder="Message" required></textarea>
                </div>
                <div class="form-group right">
                    <button class="Contact-Button" id="submit" type="submit">SUBMIT</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="map">
                <div style="width:100%;max-width:100%;overflow:hidden;height:210px;color:red;">
                    <div id="my-map-canvas" style="height:100%; width:100%;max-width:100%;">
                        <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=75+Arlington+St.+Suite+500+Boston.MA+02116&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                    </div><a class="google-map-code" rel="nofollow" href="http://www.interserver-coupons.com" id="enable-maps-data">http://www.interserver-coupons.com</a>
                    <style>
                        #my-map-canvas img {
                            max-width: none!important;
                            background: none!important;
                            font-size: inherit;
                        }
                    </style>
                </div>
                <script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=3a93fbd1-0765-029e-7ea0-a06f50918130&c=google-map-code&u=1479118914" defer="defer" async="async"></script>
            </div>
            <div class="contact-info-div">
                <h6 class="contact-info">Contact-Info</h6>
                <ul>
                    <li>75 Arlington St. Suite 500</li>
                    <li>Boston. MA 02116</li>
                    <li>hello@vetxapp.com</li>
                    <li>1-855-4-VETNOW</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<% include footer %>