<% include header %>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row order-1-image firstsectionbuy">
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12 ">
                    <div class=" col-md-12 col-sm-12 col-xs-12 ">
                        <span>
                            <h1 class="heading-1" style="margin-top: 132px; font-size: 44px; font-family: 'Open Sans', sans-serif; color: white; ">Join the VetX community</h1>
                        </span>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 buyoption-noti-failure">
            <p class="sucess-head"><strong>Payment Failure!</strong></p>
            <p class="sucess-p">Your payment hasn't gone through, Kindly start afresh to make the payment again, Sorry for the inconvenience caused.</p>
        </div>
    </div>
</div>
<% include footer %>
