<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>VetX</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="Favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="10">
    <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="loadingBlock"><span>Veterinary Care for the 21st Century</span>
    <div class="loader"></div>
</div>
<nav id="custom-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container " style="padding-top: 14px; padding-bottom: 14px;">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand" style="margin-right: 90px;"><img class="logo-image" src="img/logo1.png" id="logoimg1"> <img class="logo-image" id="logoimg2" src="img/logo.png" style="display: none;"></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar" aria-expanded="false">
            <ul class="nav navbar-nav navbar-left1">
                <li><a href="index.html#platform">About</a></li>
                <li><a href="index.html#Features">Features</a></li>
                <li><a href="index.html#pricing">Pricing</a></li>
                <li><a href="index.html#testimonials">Testimonials</a></li>
                <li class="active"><a href="index.html#FAQ">FAQ</a></li>
                <!-- <li><a href="#Contactus">Our Vets</a></li> -->
                <li>
                    <!-- <a href="contactus.html" target="_blank">Contacts Us</a> -->
                    <button class="head-btn" (type="button" , onclick="window.open('contactus.html', '_blank');" )>Contacts Us </button>
                </li>
                <li>
                    <button class="head-btn" (type="button" , onclick="window.open('http://www.feed.vetxapp.com/feed', '_blank');" )>Feeds </button>
                </li>
                <li>
                    <button type="button" class="head-btn" data-toggle="modal" data-target="#login">Login</button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="sign"><a href="#" class="whiteHomeButton headerbuttonFontsize header-but signin">Sign Up Now</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row section-3-image ">
            <div class="col-md-11 col-sm-12 col-xs-12 ">
                <div class="banner-texts-1">
                    <div class="col-md-offset-1 col-md-12 col-sm-12 col-xs-12 finalColumn">
                        <div class=" col-md-12 col-sm-12 col-xs-12 animatedParent">
                            <span><p class="heading-1 mainheaderfontbig animated bounceInLeft" style="margin-top: 182px; font-weight: 600;color: rgb(255, 255, 255);text-shadow: 1px 1px rgba(59, 59, 59, 0.7);font-size: 52px!important;">Frequently asked questions</p></span>
                        </div>
                        <div style="font-size:22px!important;" class=" col-md-offset-2 col-md-8 col-sm-12 col-xs-12  ">
                                <!-- <p class="paragraph-white">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
</p>
-->
</div>
</div>
</div>
</div>
</div>
<!--  Faq section -->
<div class="col-md-10 col-md-offset-1 faq-page-sec">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <h3 class="FAQAlign">What happens if we don’t want to be available during after-hours?</h3>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    The work of veterinarians, practice managers, owners, etc. is very, very hard. It is unreasonable to expect that that any one person can be available 24/7 after such a stressful day. On the other hand, your patients’ pets don’t follow a normal business schedule! That’s where VetX steps in. Let us handle the stress of after-hour / weekend issues and make sure you are always providing high quality care. Through VetX your practice can increase revenue, boost customer retention and enhance the level of customer care.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <h3 class="FAQAlign">How do I know your veterinarians will provide high-quality care?</h3>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <ul class="faq-ul">
                        <p>We have three levels of control in VetX to ensure that our veterinarians are providing the highest quality of care: </p>
                        <li>Screening: All of our veterinarians go through a rigorous selection process to become a part of the VetX network. The initial selection involves an interview with our Veterinarian Operations Leadership Team, as well as a thorough review of the practitioner's clinical experience, training, licensure and a comprehensive questionnaire. Our team also conducts background checks and verifies all licenses with the appropriate regulatory bodies.</li>
                        <li>Training: Our veterinarians regularly go through training programs designed to improve the level of care, especially with respect to online and over-the-phone triage support. All of our veterinarians also adhere to their Continuing Education requirements by State.</li>
                        <li>On-going Feedback: We have a proactive system of customer feedback in order to make sure we provide the highest level of care. </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <h3 class="FAQAlign">Will using your service put additional liability upon my practice?</h3>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Don’t worry – VetX veterinarians are covered by professional liability insurance.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <h3 class="FAQAlign">Are your veterinarians providing a diagnosis? Does this violate VCPR?</h3>
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    Our team at VetX is concerned with how technology can enhance and aid in the delivery of veterinary care. Our veterinarians are not providing a veterinary-client-patient-relationship (VCPR) and in no way advocate our platform to be a substitute for physical consultations. Our services aim to provide online and over the phone triage support and ease the burden for pet owners that have no recourse other than to go to the Emergency Room when they have pet-health related issues during after-hours and weekends.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <h3 class="FAQAlign">Why is after-hour care a problem for me as a hospital owner/administrator/practice manager? Is this not the pet owners’ problem?</h3>
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                    <ul class="faq-ul">
                        <p>Our deepest and most fundamental goal is to improve the level of care available to all pets. Lack of access to veterinary care during after-hours and weekends is a problem shared by both clinics and pet owners.</p>
                        <p>Feedback that we often receive from veterinarians include:</p>
                        <li>“My patient spent thousands unnecessarily at the ER and is now upset at me/unwilling to spend more on follow up treatment/in financial difficulty because of this. If only they would have waited until we were open…”</li>
                        <li>“Most of our clients that call during after-hours/weekends don’t have emergencies and our practice could certainly benefit if we had a way to screen the calls and book appointments during our regular business hours.”</li>
                        <li>“As a pet owner and veterinarian myself I can relate to how aggravating it can be to go to the ER. Although I personally can’t be available all the time, it would be great for my patients if we could offer around-the-clock service to assess whether a visit to the ER is warranted.”</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <i class="more-less glyphicon glyphicon-plus"></i>
                        <h3 class="FAQAlign">What payment methods do you accept?</h3>
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                    We take every major credit card and can also set up a payment plan directly with your bank.
                </div>
            </div>
        </div>
        <br>
        <br>
                    <!-- <div class="col-md-12 center">
                            <button type="button" class="whiteHomeButton">View more</button>
                        </div> -->
                    </div>
                    <!-- panel-group -->
                </div>
            </div>
        </div>
        <footer>
            <div id="footer" class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                            <img style="margin-top: 56px;" src="img/footerlogo.png" class="logo-image">
                            <h4 style="padding-top: 9px;"> Connecting pet owners to Veterianarians anytime, any-<br>where 24/7 </h4>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                            <h3 class="font-gray"> Site map </h3>
                            <ul class="site map">
                                <li> <a class="text-black" href="#"> Platform </a> </li>
                                <li> <a class="text-black" href="#"> Features </a> </li>
                                <li> <a class="text-black" href="#"> Pricing </a> </li>
                                <li> <a class="text-black" href="#"> FAQ </a> </li>
                                <li> <a class="text-black" href="#"> Contact Us </a> </li>
                            </ul>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                            <h3 class="font-gray"> For clinics </h3>
                            <ul class="site map">
                                <li> <a class="text-black" href="#"> Lorem Ipsum </a> </li>
                                <li> <a class="text-black" href="#"> Lorem Ipsum </a> </li>
                                <li> <a class="text-black" href="#"> Lorem Ipsum </a> </li>
                                <li> <a class="text-black" href="#"> Lorem Ipsum </a> </li>
                            </ul>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                            <h3 class="font-gray">Contacts </h3>
                            <ul class="site map">
                                <li>
                                    <a href="#"><img class="" src="img/footerloc.png">&nbsp; 75 Arlington St. Suite 500 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Boston. MA 02116 </a>
                                </li>
                                <li>
                                    <a href="#"><img class="" src="img/footerem.png">&nbsp; contact-email@vetx.com </a>
                                </li>
                                <li>
                                    <a style="margin-top: 18px;" href="#"><img class="" src="img/footermob.png">&nbsp; +(123) 456 789 45 </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.container-->
            </div>
            <!--/.footer-->
            <!--/.footer-bottom-->
        </footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
        </script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/css3-animate-it.js"></script>
        <script src="js/main.js"></script>
        <script>
            (function(b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l;
                b[l] || (b[l] =
                    function() {
                        (b[l].q = b[l].q || []).push(arguments)
                    });
                b[l].l = +new Date;
                e = o.createElement(i);
                r = o.getElementsByTagName(i)[0];
                e.src = 'http://www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-XXXXX-X', 'auto');
            ga('send', 'pageview');
        </script>
        <script>
            $(window).scroll(function() {
                if ($(".navbar").offset().top > 50) {
                    $('#custom-nav').addClass('affix');
                    $(".navbar-fixed-top").addClass("top-nav-collapse");
                } else {
                    $('#custom-nav').removeClass('affix');
                    $(".navbar-fixed-top").removeClass("top-nav-collapse");
                }
            });
        </script>
        <script>
            $(window).scroll(function() {
                if ($(".navbar").offset().top > 50) {
                    $('#custom-nav').addClass('affix');
                    $(".navbar-fixed-top").addClass("top-nav-collapse");
                    $("#logoimg2").addClass("active-logo");
                    if ($('#logoimg2').hasClass('active-logo')) {
                        $("#logoimg1").hide();
                        $("#logoimg2").fadeIn();
                    }


                } else {
                    $('#custom-nav').removeClass('affix');
                    $(".navbar-fixed-top").removeClass("top-nav-collapse");
                    $("#logoimg2").removeClass("active-logo");
                    $("#logoimg1").fadeIn();
                    $("#logoimg2").hide();
                }
            });
        </script>
        <script>
            $(window).on('resize', function() {
                if ($(window).width() < 400) {
                    $('#buttonchange').addClass('buttoncolorgray');

                } else {
                    $('#buttonchange').removeClass('buttoncolorgray');

                }
            })
        </script>
        <!-- site loading -->
        <script type="text/javascript">
            $(window).load(function() {
                $(".loadingBlock").fadeOut("slow");
            })
        </script>
        <script>
            $(document).ready(function() {

                $(".urlcus1").fadeIn(1000);
                $(".twofourseven1").hide();
                $(".appointment1").hide();
                $(".repgen1").hide();
                $(".repgen12").hide();
                $(".repgen11").hide();
                $(".twofbl").fadeIn(1000);
                $(".feaubl").hide();
                $(".appshedbl").fadeIn(1000);
                $(".repgenbl").fadeIn(1000);
                $(".twofwh").hide();
                $(".feauwh").fadeIn(1000);
                $(".appshedwh").hide();
                $(".repgenwh").hide();
                $(".new22").hide();
                $(".new33").hide();


            });
            $(document).ready(function() {

                $(".twofourseven").click(function() {
                    $(".urlcus1").hide();
                    $(".twofourseven1").fadeIn(1000);
                    $(".appointment1").hide();
                    $(".repgen1").hide();
                    $(".twofbl").hide();
                    $(".feaubl").show();
                    $(".appshedbl").fadeIn(1000);
                    $(".repgenbl").fadeIn(1000);
                    $(".twofwh").fadeIn(1000);
                    $(".feauwh").hide();
                    $(".appshedwh").hide();
                    $(".repgenwh").hide();
                    $(".repgen11").hide();
                    $(".repgen12").hide();
                    $(".new22").hide();
                    $(".new11").fadeIn(1000);
                    $(".new33").hide();
                    $(".new12").fadeIn(1000);

                });
                $(".urlcus").click(function() {
                    $(".urlcus1").fadeIn(1000);
                    $(".twofourseven1").hide();
                    $(".appointment1").hide();
                    $(".repgen1").hide();
                    $(".twofbl").fadeIn(1000);
                    $(".feaubl").hide();
                    $(".appshedbl").fadeIn(1000);
                    $(".repgenbl").fadeIn(1000);
                    $(".twofwh").hide();
                    $(".feauwh").fadeIn(1000);
                    $(".appshedwh").hide();
                    $(".repgenwh").hide();
                    $(".repgen11").hide();
                    $(".repgen12").hide();
                    $(".new22").hide();
                    $(".new11").fadeIn(1000);
                    $(".new33").hide();
                    $(".new12").fadeIn(1000);

                });


                $(".appointment").click(function() {
                    $(".urlcus1").hide();
                    $(".twofourseven1").hide();
                    $(".appointment1").fadeIn(1000);
                    $(".repgen1").hide();
                    $(".twofbl").fadeIn(1000);
                    $(".feaubl").fadeIn(1000);
                    $(".appshedbl").hide();
                    $(".repgenbl").fadeIn(1000);
                    $(".twofwh").hide();
                    $(".feauwh").hide();
                    $(".appshedwh").fadeIn(1000);
                    $(".repgenwh").hide();
                    $(".repgen11").hide();
                    $(".repgen12").hide();
                    $(".new22").hide();
                    $(".new11").fadeIn(1000);
                    $(".new33").hide();
                    $(".new12").fadeIn(1000);
                });
                $(".repgen").click(function() {
                    $(".urlcus1").hide();
                    $(".twofourseven1").hide();
                    $(".appointment1").hide();
                    $(".repgen1").fadeIn(1000);
                    $(".twofbl").fadeIn(1000);
                    $(".feaubl").fadeIn(1000);
                    $(".appshedbl").fadeIn(1000);
                    $(".repgenbl").hide();
                    $(".repgenwh").fadeIn(1000);
                    $(".twofwh").hide();
                    $(".feauwh").hide();
                    $(".appshedwh").hide();
                    $(".repgen11").hide();
                    $(".repgen12").hide();
                    $(".new22").hide();
                    $(".new11").fadeIn(1000);
                    $(".new33").hide();
                    $(".new12").fadeIn(1000);
                });
                $(".new1").click(function() {
                    $(".urlcus1").hide();
                    $(".twofourseven1").hide();
                    $(".appointment1").hide();

                    $(".twofbl").fadeIn(1000);
                    $(".feaubl").fadeIn(1000);
                    $(".appshedbl").fadeIn(1000);
                    $(".repgenbl").fadeIn(1000);
                    $(".twofwh").hide();
                    $(".feauwh").hide();
                    $(".appshedwh").hide();
                    $(".repgenwh").hide();
                    $(".repgen11").fadeIn(1000);
                    $(".repgen1").hide();
                    $(".repgen12").hide();
                    $(".new22").fadeIn(1000);
                    $(".new11").hide();
                    $(".new33").hide();
                    $(".new12").fadeIn(1000);
                });
                $(".new2").click(function() {

                    $(".urlcus1").hide();
                    $(".twofourseven1").hide();
                    $(".appointment1").hide();

                    $(".twofbl").fadeIn(1000);
                    $(".feaubl").fadeIn(1000);
                    $(".appshedbl").fadeIn(1000);
                    $(".repgenbl").fadeIn(1000);
                    $(".twofwh").hide();
                    $(".feauwh").hide();
                    $(".appshedwh").hide();
                    $(".repgenwh").hide();
                    $(".repgen11").hide();
                    $(".repgen12").fadeIn(1000);
                    $(".repgen1").hide();
                    $(".new22").hide();
                    $(".new11").fadeIn(1000);
                    $(".new33").fadeIn(1000);
                    $(".new12").hide();
                });


            });
</script>
<script>
    $(document).ready(function() {
        $(".featuretab").click(function() {
            $(".featuretab").removeClass("active");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).addClass("active");
        });
    });
</script>
<script>
    $(document).ready(function() {
        // Add scrollspy to <body>
        $('body').scrollspy({
            target: ".navbar",
            offset: 50
        });

        // Add smooth scrolling on all links inside the navbar
        $("#custom-nav a").on('click', function(event) {
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function() {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    });
</script>
<script type="text/javascript">
    function toggleIcon(e) {
        $(e.target)
        .prev('.panel-heading')
        .find(".more-less")
        .toggleClass('glyphicon-plus glyphicon-minus');
    }
    $('.panel-group').on('hidden.bs.collapse', toggleIcon);
    $('.panel-group').on('shown.bs.collapse', toggleIcon);
</script>
</body>

</html>
