<% include header %>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row section-3-image ">
            <div class="col-md-11 col-sm-12 col-xs-12 ">
                <div class="banner-texts-1">
                    <div class="col-md-offset-1 col-md-12 col-sm-12 col-xs-12 finalColumn">
                        <div class=" col-md-12 col-sm-12 col-xs-12 animatedParent">
                            <span><p class="heading-1 mainheaderfontbig animated bounceInLeft" style="margin-top: 182px; font-weight: 600;color: rgb(255, 255, 255);text-shadow: 1px 1px rgba(59, 59, 59, 0.7);font-size: 52px!important;">Frequently asked questions</p></span>
                        </div>
                        <div style="font-size:22px!important;" class=" col-md-offset-2 col-md-8 col-sm-12 col-xs-12  ">
                            <!-- <p class="paragraph-white">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  Faq section -->
    <div class="col-md-10 col-md-offset-1 faq-page-sec">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            <h3 class="FAQAlign">What happens if we don’t want to be available during after-hours?</h3>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        The work of veterinarians, practice managers, owners, etc. is very, very hard. It is unreasonable to expect that that any one person can be available 24/7 after such a stressful day. On the other hand, your patients’ pets don’t follow a normal business schedule! That’s where VetX steps in. Let us handle the stress of after-hour / weekend issues and make sure you are always providing high quality care. Through VetX your practice can increase revenue, boost customer retention and enhance the level of customer care.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            <h3 class="FAQAlign">How do I know your veterinarians will provide high-quality care?</h3>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul class="faq-ul">
                            <p>We have three levels of control in VetX to ensure that our veterinarians are providing the highest quality of care: </p>
                            <li>Screening: All of our veterinarians go through a rigorous selection process to become a part of the VetX network. The initial selection involves an interview with our Veterinarian Operations Leadership Team, as well as a thorough review of the practitioner's clinical experience, training, licensure and a comprehensive questionnaire. Our team also conducts background checks and verifies all licenses with the appropriate regulatory bodies.</li>
                            <li>Training: Our veterinarians regularly go through training programs designed to improve the level of care, especially with respect to online and over-the-phone triage support. All of our veterinarians also adhere to their Continuing Education requirements by State.</li>
                            <li>On-going Feedback: We have a proactive system of customer feedback in order to make sure we provide the highest level of care. </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            <h3 class="FAQAlign">Will using your service put additional liability upon my practice?</h3>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Don’t worry – VetX veterinarians are covered by professional liability insurance.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            <h3 class="FAQAlign">Are your veterinarians providing a diagnosis? Does this violate VCPR?</h3>
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        Our team at VetX is concerned with how technology can enhance and aid in the delivery of veterinary care. Our veterinarians are not providing a veterinary-client-patient-relationship (VCPR) and in no way advocate our platform to be a substitute for physical consultations. Our services aim to provide online and over the phone triage support and ease the burden for pet owners that have no recourse other than to go to the Emergency Room when they have pet-health related issues during after-hours and weekends.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            <h3 class="FAQAlign">Why is after-hour care a problem for me as a hospital owner/administrator/practice manager? Is this not the pet owners’ problem?</h3>
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        <ul class="faq-ul">
                            <p>Our deepest and most fundamental goal is to improve the level of care available to all pets. Lack of access to veterinary care during after-hours and weekends is a problem shared by both clinics and pet owners.</p>
                            <p>Feedback that we often receive from veterinarians include:</p>
                            <li>“My patient spent thousands unnecessarily at the ER and is now upset at me/unwilling to spend more on follow up treatment/in financial difficulty because of this. If only they would have waited until we were open…”</li>
                            <li>“Most of our clients that call during after-hours/weekends don’t have emergencies and our practice could certainly benefit if we had a way to screen the calls and book appointments during our regular business hours.”</li>
                            <li>“As a pet owner and veterinarian myself I can relate to how aggravating it can be to go to the ER. Although I personally can’t be available all the time, it would be great for my patients if we could offer around-the-clock service to assess whether a visit to the ER is warranted.”</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <i class="more-less glyphicon glyphicon-plus"></i>
                            <h3 class="FAQAlign">What payment methods do you accept?</h3>
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        We take every major credit card and can also set up a payment plan directly with your bank.
                    </div>
                </div>
            </div>
            <br>
            <br>
                            <!-- <div class="col-md-12 center">
                            <button type="button" class="whiteHomeButton">View more</button>
                        </div> -->
                    </div>
                    <!-- panel-group -->
                </div>
            </div>
        </div>
        <% include footer %>